.room-overview-container{

}

.free-user-container {

}

.server-container {

}

.rooms-container {
  display: grid;
  margin: 1%;
  column-gap: 5%;
  row-gap: 5%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto
}

.room-detail-container {
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.room-detail-label{
  font-size: 1rem
}

.user-container {
  display: grid;
  margin: 0 5%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 3%;
}

.user-details-container{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid aliceblue;
  border-radius: 5rem;
}


.user-name-label{
  overflow-wrap: anywhere;
  font-size: 0.8rem;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.empty-list-container {
  font-size: 1rem;
  color: lightcoral;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
